# Copyright 2023 gpicron
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

nimcache = "./build/nimcache"
@if emscripten:
    cc = clang
    @if windows:
        clang.exe = "emcc.bat"
        clang.linkerexe = "emcc.bat"
        clang.cpp.exe = "emcc.bat"
        clang.cpp.linkerexe = "emcc.bat"
    @else:
        clang.exe = "emcc"
        clang.linkerexe = "emcc"
        clang.cpp.exe = "emcc"
        clang.cpp.linkerexe = "emcc"
    @end
    os = linux
    cpu = wasm32
    @if asmjs:
        passC = "-sWASM=0 -sMODULARIZE"
        passL = "-sWASM=0 -sMODULARIZE"
    @elif node:
        passC = "-msimd128 -sALLOW_MEMORY_GROWTH -sMODULARIZE=1 -sINITIAL_MEMORY=134217728 -sEXPORTED_RUNTIME_METHODS=ccall,cwrap,stackSave,stackAlloc,stackRestore -sEXPORTED_FUNCTIONS=_malloc,_free -sENVIRONMENT=node -O3 -flto"
        passL = "-msimd128 -sALLOW_MEMORY_GROWTH -sMODULARIZE=1 -sINITIAL_MEMORY=134217728 -sEXPORTED_RUNTIME_METHODS=ccall,cwrap,stackSave,stackAlloc,stackRestore -sEXPORTED_FUNCTIONS=_malloc,_free -sENVIRONMENT=node -O3 -flto"
    @end
@end